<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Premier League Teams</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- This code is necessary for jQuery UI -->
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/underscore-min.js"></script>
        <script src="scripts/backbone-min.js"></script>
    </head>
    <body>
        <script id="teamTemplate" type="text/template">
            <h6 class="bg-info border text-white w-75 m-1 p-1 text-center team-button" data-id="${id}"><%= name %></h6>
        </script>
        <script id="historyTemplate" type="text/template">
            <div class="col-10 border text-left" id="activeTeamInfo">
                <h3 class="m-3"><%= name %></h6>
                <h3 class="m-3">Nickname: <%= nickname %></h6>
                <h3 class="m-3">Founded: <%= founded %></h6>
            </div>
        </script>
        <div class="container bg-light">
            <div class="row justify-content-center">
                <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
                    <div id="content" class="row justify-content-start">
                        <div id="teams" class="col-4 m-3">
                            <ul id="team_names" class="team_names">

                            </ul>
                        </div>
                        <div id="team_info" class="col-7 justify-content-center">
                            <div class="row justify-content-center text-center">
                                <h1 class="text-center m-3">Team History</h1>
                                <div id="output" class="w-100 m-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="scripts/models.js"></script>
    <script src="scripts/collections.js"></script>
    <script src="scripts/views.js"></script>
</html>